<template>
  <section>
    <h2 class="ml-3" >Paises Agregados</h2>
    <v-layout wrap ma-6 justify-center>
      <v-flex v-for="(pais,index) in ultimosPaisesAgregados" :key="index" sm3 xs12 px-2 mb-5>
        <v-card class="mx-auto">
          <v-img class="white--text" height="180px" v-bind:src="pais.flag" />
          <v-card-title>{{pais.name}}</v-card-title>
          <v-card-text>
            <div class="subtitle-1">Capital: {{pais.capital}}</div>
            
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["ultimosPaisesAgregados"])
  },
};
</script>

<style>
</style>